<!-- templates/index.html -->
<html>
    <head>
        <meta name="viewport", content="width=device=width, initial-scale=1">
        <title>CICD</title>
    </head>

    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
      .desc {
        text-align:center;
        }  
    </style>
    
    <body>
        <p class="desc"></p>
        <h1><center>DEMO ROCKET MAN!!! - DRONE + GOGS + K8s on Minikube</center></h1>
        <hr>
        <img src="static/images/space.png", alt="space", style="width:50%;">
    </body>
</html>
